<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Mobile Suite">

    <listeners>
        <listener class-name="utils.TestListener"/>
    </listeners>

    <test name="Sign Up and Bubble Testing">
        <classes>
            <class name="tests.ConferenceCallTest"/>
        </classes>
    </test>
</suite>